@font-face {
    font-family: FiraSans;
    src: url(fonts/FiraSans-Regular.woff);
}

@font-face {
    font-family: FiraMono;
    src: url(fonts/FiraMono-Regular.woff);
}

:root {
    --main-bg-color: #e9ecef;
    --sidebar-bg-color: #ced4da;
    --text-color: #495057;
    --link-hover-color: #212529;
}

body {
    background-color: var(--main-bg-color);
    font-family: FiraMono, sans-serif;
    letter-spacing: -1px;
    color: var(--text-color);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.container{
    display: flex;
    align-items: baseline;
    width: 800px;
    flex-wrap: wrap;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.sidebar a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--link-hover-color);
}

.content {
    flex-grow: 1;
    flex-basis: 50%;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.topbar {
    text-align: right;
    width: 100%;
    border-bottom: 5px solid black;
    border-radius: 2px;
    padding-top: 10px;
    border-color: var(--text-color);
    align-self: flex-start;
}

.botbar {
    text-align: center;
    width: 100%;
    border-top: 5px solid black;
    border-radius: 2px;
    padding-bottom: 10px;
    border-color: var(--text-color);
}
